absl-py==0.7.0
appnope==0.1.0
astor==0.7.1
audioread==2.1.6
backcall==0.1.0
certifi==2018.11.29
cffi==1.11.5
cycler==0.10.0
decorator==4.3.2
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
joblib==0.13.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.27.0
Markdown==3.0.1
matplotlib==3.0.2
natsort==5.5.0
numba==0.42.0
numpy==1.16.0
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.19
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
python-osc==1.7.0
PyYAML==3.13
resampy==0.2.1
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
sklearn==0.0
SoundFile==0.10.2
tensorboard==1.12.2
tensorflow==2.9.3
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
